node_modules
client/Capable Connect/UsersvivekAppDataRoamingnpm-cache/*
server/UsersvivekAppDataRoamingnpm-cache/*
client/Capable Connect/UsersvivekAppDataRoamingnpm/*
client/Capable Connect/node_modules/*
