client/Capable Connect/node_modules/*
client/Capable Connect/node_modules/*
client/Capable Connect/UsersvivekAppDataRoamingnpm/*
client/Capable Connect/UsersvivekAppDataRoamingnpm-cache/*
server/node_modules/*
server/UsersvivekAppDataRoamingnpm-cache/*
